OPENROUTER_API_KEY=your_openrouter_api_key_here
MODEL_NAME=anthropic/claude-sonnet-4

# Langsmith Tracker API Key (Optional)

# Optional: For evaluation and tracing
LANGSMITH_API_KEY=your_langsmith_api_key_here
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=Langchain-Agents
